apiVersion: v2
name: fabric-space
description: The following Helm Chart Deploys Fabric, Cassandra, Postgres and Kafka

type: application
version: 1.2.36
appVersion: "8.3"

dependencies:
  - name: cassandra
    version: "~1.2.0-0"
    repository: "file://./charts/cassandra"
    condition: cassandra.enabled

  - name: fabric
    version: "~1.2.0-0"
    repository: "file://./charts/fabric"
    condition: fabric.enabled

  - name: postgres
    version: "~1.2.0-0"
    repository: "file://./charts/postgres"
    condition: postgres.enabled

  - name: kafka
    version: "~1.2.0-0"
    repository: "file://./charts/kafka"
    condition: kafka.enabled

  - name: neo4j
    version: "~1.2.0-0"
    repository: "file://./charts/neo4j"
    condition: neo4j.enabled
    
  - name: DB2
    version: "~1.2.0-0"
    repository: "file://./charts/DB2"
    condition: DB2.enabled
