# app_name will be app label and prefix for resources
# Supported values: postgres, cassandra, kafka, neo4j

# Global annotations and labels applied to all resources
# annotations:
#   - key: "app.kubernetes.io/component"
#     value: "database"
#   - key: "kubernetes.io/description"
#     value: "Generic database deployment for PostgreSQL, Cassandra, Kafka, or Neo4j"
# labels:
#   - key: "app.kubernetes.io/component"
#     value: "database"
#   - key: "app.kubernetes.io/part-of"
#     value: "generic-db"

# deployment.yaml
container:
  image:
    url: postgres:17.5
    # repoSecret:
    #   name: "registry-secret"
    #   enabled: false
    #   dockerRegistry:
    #     auths:
    #       "docker.share.cloud.k2view.com":
    #         username: ""
    #         password: ""
  storage_path: "/opt/apps/pgsql/data/data/"
  resource_allocation:
    limits:
      memory: 4Gi
      cpu: '1'
    requests:
      memory: 2Gi
      cpu: '0.5'

# secrets.yaml
# Default secrets will be set based on app_name if not provided
# secrets:
# - key: POSTGRES_USERNAME
#   value: "postgres"
# - key: POSTGRES_PASSWORD
#   value: "postgres"
# - key: PGDATA
#   value: "/opt/apps/pgsql/data/data/pgdata"

# ingress_np.yaml
networkPolicy:
  enabled: true

# service.yaml
# Default port will be set based on app_name if not provided
service:
  port: 5432

# pvc.yaml
storage:
  class: managed
  allocated_amount: 10Gi
  securityContext: true

# Affinity settings
# affinity:
#   type: "none"  # none, affinity, anti-affinity
#   label:
#     name: "topology.kubernetes.io/zone"
#     value: "region-a"
