global:
  namespace:
    name: "space-tenant"

  labels:
    - name: tenant
      value: my-tenant
    - name: space
      value: my-space

namespace:
  name: "space-tenant"

labels:
  - name: tenant
    value: my-tenant
  - name: space
    value: my-space

container:
  replicas: 1
  image:
    url: postgres:13.3

    repoSecret:
      name: "registry-secret"
      enabled: false
      dockerRegistry:
        auths:
          "docker.share.cloud.k2view.com":
            username: ""
            password: ""
  storage_path: "/opt/apps/pgsql/data/data/"

  resource_allocation:
    limits:
      memory: 4Gi
      cpu: '1'
    requests:
      memory: 1Gi
      cpu: '0.4'

  envList:
  - key: PGDATA
    value: "/opt/apps/pgsql/data/data/pgdata"

credentials:
  postgres_username: postgres
  postgres_password: postgres

networkPolicy:
  enabled: true

# PG port
listening_port: 5432

storage:
  class: regional-pd
  allocated_amount: 10Gi

affinity:
  type: none  # Options: affinity, anti-affinity, none
  label: 
    name: topology.kubernetes.io/zone
    value: region-a
