{{- $storage := default dict .Values.storage -}}
{{ $allocated_amount := default $storage.allocated_amount $storage.alocated_amount }} {{- /* for backward compatibility, fix spelling error */ -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: neo4j-claim
  namespace: {{ .Values.namespace.name }}
  labels:
    app: neo4j
    {{- range $label := .Values.labels }}
    {{ $label.name }}: {{ $label.value }}
    {{- end }}
spec:
  accessModes:
    - ReadWriteOnce
  {{- if $storage.class }}
  storageClassName: {{ $storage.class }}
  {{- end }}
  resources:
    requests:
      storage: {{ default "10Gi" $allocated_amount }}
