{{- $storage := default dict .Values.storage -}}
{{ $allocated_amount := default $storage.allocated_amount $storage.alocated_amount }} {{- /* for backward compatibility, fix spelling error */ -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: {{ .Values.global.namespace.name }}
  name: db2-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ default "10Gi" $allocated_amount }}
  {{- if $storage.class }}
  storageClassName: {{ $storage.class }}
  {{- end }}