apiVersion: v1
kind: Service
metadata:
  name: cassandra-service
  namespace: {{ .Values.namespace.name }}
  labels:
    app: cassandra
    {{- range $label := .Values.labels }}
    {{ $label.name }}: {{ $label.value }}
    {{- end }}
  {{- if .Values.annotations }}
  annotations:
    {{- range $annotation := .Values.annotations }}
    {{ $annotation.name }}: {{ $annotation.value }}
    {{- end }}
  {{- end }}
spec:
  type: 
  ports:
  - port: {{ .Values.listening_port }}
    targetPort: {{ .Values.listening_port }}
    protocol: TCP
    name: cassandra-port
  selector:
    app: cassandra